@media screen and (min-width:767px) { 
  a:link {color:#fff;transition:2s;}
  a:visited{color:#fff;}
  a:hover {color:#30e4f1;}
  body{
    font-family:"Avenir Next";
    background-image:url("alley.jpg");
  }
  li{
    list-style: none;
  }
  header{
    background-color:rgba(233,198,145,0.623);
    height:90px;
    margin:4px;
  }
  .header-logo{
    float:left;
    font-size:40px;
    padding:10px 60px 0px 20px;
  }
  .header-list li{
    float:left;
    font-size:33px;
    padding:20px 20px;
  }
  .twitter-timeline{
    float:right;
  }
  .copy-container h1{
    color: rgb(252, 252, 250);
    padding-left: 10px;
    font-size:80px;
    }
  .contents{
    height:500px;
    margin-top:100px;
    margin-left:40px;
  }
  .copy-container li{
    font-size: 25px;
  }
  .btn {
    border-radius: 5px;
    background-color: rgb(56, 55, 66);
    padding: 13px;
    text-decoration: none;
  }
  }
  @media screen and (max-width:767px) { 
    a:link {color:#fff; transition:2s;}
    a:visited{color:#fff;}
    a:hover{color:#30e4f1;}
    body{
      font-family:"Avenir Next";
      background-image:url("alley.jpg")
    }
    li{
      list-style:none;
    }
   .main{
     padding-top:120px;
   }
    header{
      background-color:rgba(233,198,145,0.623);
      height:110px;
      margin:4px;
    }
    .header-logo{
      float:left;
      font-size:30px;
      padding:15px 20px 17px 20px;
    }
    .header-list li{
      font-size:16px;
      padding:3px;
    }
    h1{
      color:#fff;
      padding-top:90px;
      padding-left:20px;
      font-size:60px;
      }
      .copy-container li{
        font-size: 20px;
      }
    .btn {
      border-radius:5px;
      background-color: rgb(56, 55, 66);
      padding:13px;
      text-decoration:none;
    }
  }
